<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oxoo.spagreen"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  <!-- Grants the SDK permission to access a more accurate location based on GPS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Grants the SDK permission to access approximate location based on cell tower -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="best.kissasian.drama.utils.MyAppClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="best.kissasian.drama.UpdateActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8804184340526788~7833821786" />

        <activity
            android:name="best.kissasian.drama.TermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="best.kissasian.drama.ReplyActivity"
            android:label="@string/title_activity_reply"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="best.kissasian.drama.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="best.kissasian.drama.PassResetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="best.kissasian.drama.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="best.kissasian.drama.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="best.kissasian.drama.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="best.kissasian.drama.DetailsActivity"
            android:configChanges="screenLayout|screenSize|orientation"
            android:label="@string/title_activity_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- android:configChanges="screenLayout|screenSize|orientation" -->
        <activity
            android:name="best.kissasian.drama.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="best.kissasian.drama.SettingsActivity"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="best.kissasian.drama.SplashscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="best.kissasian.drama.ItemMovieActivity"
            android:label="@string/title_activity_item_show"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="best.kissasian.drama.ItemTVActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="best.kissasian.drama.ItemSeriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
    </application>

</manifest>